## Pandas

* Pandas is a Python library used for working with data sets.
* It has functions for analyzing, cleaning, exploring, and manipulating data.

In [4]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

### Pandas Series

* A Pandas Series is like a column in a table.
* It is a one-dimensional array holding data of any type

In [5]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

#### Labels

* If nothing else is specified, the values are labeled with their index number. 
* First value has index 0, second value has index 1 etc.
* This label can be used to access a specified value.

In [2]:
print(myvar[0])

1

In [6]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

print(myvar['x'])

x    1
y    7
z    2
dtype: int64
1

### Key/Value Objects as Series

In [7]:
#Create a simple Pandas Series from a dictionary

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [8]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

### Pandas Dataframe

* Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
* Series is like a column, a DataFrame is the whole table.
* A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [9]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

print(type(data))

myvar = pd.DataFrame(data)

print(myvar)

<class 'dict'>
   calories  duration
0       420        50
1       380        40
2       390        45