## Dataframe Indexing

* use the loc attribute to return one or more specified row(s)

In [1]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

print(type(data))

myvar = pd.DataFrame(data)

print(myvar)

<class 'dict'>
   calories  duration
0       420        50
1       380        40
2       390        45

In [4]:
#get specific rows using loc attribute
myvar.loc[1]

calories    380
duration     40
Name: 1, dtype: int64

In [5]:
#get multiple rows using loc attribute
myvar.loc[[0,2]]

   calories  duration
0       420        50
2       390        45

In [9]:
# get specific columns

#loc[rowindex, columnindex]

myvar.loc[0:1,['calories','duration']]

   calories  duration
1       380        40
2       390        45

In [12]:

myvar.loc[myvar.calories<400,['calories','duration']]

   calories  duration
1       380        40
2       390        45

### Named Index

* With the index argument, you can name your own indexes

In [11]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [13]:
#Accessing Named index
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64