## Cleaning and Transforming data

* Data cleaning means fixing bad data in your data set.

* Bad data could be:

    Empty cells \
    Data in wrong format \
    Wrong data \
    Duplicates

In [1]:
import pandas as pd

df = pd.read_csv('sample_data.csv')

df.shape

(31, 5)

### Empty Cells
* Empty cells can potentially give you a wrong result when you analyze data.
* One way to deal with empty cells is to remove rows that contain empty cells.
* This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [4]:
new_df = df.dropna()

new_df

# By default, the dropna() method returns a new DataFrame, and will not change the original.

# If you want to change the original DataFrame, use the inplace = True argument

df.dropna(inplace = True)

df.shape

(28, 5)

### Replace empty values

* Another way of dealing with empty cells is to insert a new value instead.
* This way you do not have to delete entire rows just because of some empty cells.
* The fillna() method allows us to replace empty cells with a value:

* A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

* Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

* Mean = the average value (the sum of all values divided by number of values).

* Median = the value in the middle, after you have sorted all values ascending.

* Mode = the value that appears most frequently.

In [6]:
import pandas as pd

df = pd.read_csv('sample_data.csv')
df

    Duration          Date Pulse  Maxpulse  Calories
0         60  '2020/12/01'   110       130     409.1
1         60  '2020/12/02'   117       145     479.0
2         60  '2020/12/03'   103       135     340.0
3         45  '2020/12/04'   109       175     282.4
4         45  '2020/12/05'   117       148     406.0
5         60  '2020/12/06'   102       127     300.0
6         60  '2020/12/07'   110       136     374.0
7        450   '2020/12/08  '104       134     253.3
8         30  '2020/12/09'   109       133     195.1
9         60  '2020/12/10'    98       124     269.0
10        60  '2020/12/11'   103       147     329.3
11        60  '2020/12/12'   100       120     250.7
12        60  '2020/12/12'   100       120     250.7
13        60  '2020/12/13'   106       128     345.3
14        60  '2020/12/14'   104       132     379.3
15        60  '2020/12/15'    98       123     275.0
16        60  '2020/12/16'    98       120     215.2
17        60  '2020/12/17'   100       120     300.0
18        45  '2020/12/18'    90       112       NaN
19        60  '2020/12/19'   103       123     323.0
20        45  '2020/12/20'    97       125     243.0
21        60    '20201231'   108       131     364.2
23        60           NaN   130       101     300.0
24        45  '2020/12/24'   105       132     246.0
25        60  '2020/12/25'   102       126     334.5
26        60  '2020/12/26'   100       120     250.0
27        60  '2020/12/27'    92       118     241.0
28        60  '2020/12/28'   103       132       NaN
29        60  '2020/12/29'   100       132     280.0
30        60  '2020/12/30'   102       129     380.3
31        60  '2020/12/31'    92       115     243.0

In [7]:
import pandas as pd

df = pd.read_csv('sample_data.csv')

#df.fillna(130, inplace = True)

# to replace nulls for specific columns
df["Calories"].fillna(130, inplace = True)

df

    Duration          Date Pulse  Maxpulse  Calories
0         60  '2020/12/01'   110       130     409.1
1         60  '2020/12/02'   117       145     479.0
2         60  '2020/12/03'   103       135     340.0
3         45  '2020/12/04'   109       175     282.4
4         45  '2020/12/05'   117       148     406.0
5         60  '2020/12/06'   102       127     300.0
6         60  '2020/12/07'   110       136     374.0
7        450   '2020/12/08  '104       134     253.3
8         30  '2020/12/09'   109       133     195.1
9         60  '2020/12/10'    98       124     269.0
10        60  '2020/12/11'   103       147     329.3
11        60  '2020/12/12'   100       120     250.7
12        60  '2020/12/12'   100       120     250.7
13        60  '2020/12/13'   106       128     345.3
14        60  '2020/12/14'   104       132     379.3
15        60  '2020/12/15'    98       123     275.0
16        60  '2020/12/16'    98       120     215.2
17        60  '2020/12/17'   100       120     300.0
18        45  '2020/12/18'    90       112     130.0
19        60  '2020/12/19'   103       123     323.0
20        45  '2020/12/20'    97       125     243.0
21        60    '20201231'   108       131     364.2
23        60           NaN   130       101     300.0
24        45  '2020/12/24'   105       132     246.0
25        60  '2020/12/25'   102       126     334.5
26        60  '2020/12/26'   100       120     250.0
27        60  '2020/12/27'    92       118     241.0
28        60  '2020/12/28'   103       132     130.0
29        60  '2020/12/29'   100       132     280.0
30        60  '2020/12/30'   102       129     380.3
31        60  '2020/12/31'    92       115     243.0

In [8]:
import pandas as pd

df = pd.read_csv('sample_data.csv')

x = df["Calories"].mean()
x = df["Calories"].median()
x = df["Calories"].mode()[0]
print(x)
#df["Calories"].fillna(x, inplace = True)

300.0